<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="e3TxtSubst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<e3TxtSubst.Properties.Settings>
			<setting name="ExePath" serializeAs="String">
				<value>C:\Program Files (x86)\CIM-Team\E3.series_2009\E3.series.exe</value>
			</setting>
			<setting name="ProcStartTimeout" serializeAs="String">
				<value>4000</value>
			</setting>
		</e3TxtSubst.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
